*{
    padding: 0;
    margin: 0;
}

/* -------------------------HEADER--------------------------------*/

header{
    display: flex;
    justify-content: center;
    
}

header h1{
    font-size: 50px;
    color: rgb(110, 70, 45);
}

header nav li{
    list-style: none;
}
header a{
    text-decoration: none;
 }
 header nav{
    display: flex;

    position: fixed;
    z-index: 99;

   
    align-items: center;
    justify-content: space-between;


    border-bottom: 2px solid #00000062;
    height: 100px;
    width: 95%;
    background-color: rgb(175,160,137);
    border-radius: 80px;
    /*box-shadow: 0px 0px 20px;*/
    margin-top: 20px;
}

header nav img{
    background-color: rgb(175,160,137);

    height: 70px;
    width: 70px;

    
    border-radius: 100px;

    margin-left: 100px;

}

header .nav_paginas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: larger;

    width: 40%;
    justify-content: space-between;
    margin-right: 5%;  
    margin-bottom: 0;  
    
}

header .nav_paginas a{
    color: white;
    text-decoration: none;
}


/* -------------------------FOOTER--------------------------------*/

footer{
    height: 250px;
    background-color: rgb(175,160,137);

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    text-align: center;

    box-shadow: 0px -5px 50px rgb(128, 127, 127);
}

footer h3{
    background-color: rgb(152,127,97);
    margin-top: 20px;
    padding: 20px;
    color: white;
    font-weight: 200;
    font-size: small;

    box-shadow: 0px -5px 5px rgba(0,0,0,0.2);
}

footer h3 a{
    font-weight: 500;
   
}

footer section{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;

}

.footer_paginas{
    display: flex;
    flex-direction: column;
}

.footer_redes{
    display: flex;
    flex-direction: column;
}

.footer_redes img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(1);
}

.footer_paginas h3, .footer_redes h3{
    font-weight: 600;
    font-size: larger;
    margin: 0 0 10px 0;
    padding: 0;
    background-color: rgb(175,160,137);
    box-shadow: 0 0 0;
}


.footer_paginas a{
    margin-top: 20px;
    color: white;
    text-decoration: none;

}

.footer_redes a{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    display: flex;

}
