@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    padding: 0;
    margin: 0;

    font-family: "Itim",sans-serif;
}

/* --------------- MAIN ----------------*/
body{
    background-color: #cdcdc0;
    text-align: center;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto{
    display: flex;
   
    justify-content: space-between;
    align-items: center;



    margin: 200px 0 100px ;
   

    width: 85%;
    
    background-color: rgb(189,174,153);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

}

.producto img{
    margin: 1%;
    width: 50%;
    border: 10px solid rgb(74,51,35);
    
}

.info_articulo{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

.producto h2{
    margin :30px;

}
.producto p{
    margin: 30px;

}




.main_productos h4{
    margin: 30px 0 15px 0;
    background-color: rgb(89, 62, 37,0.6);
    padding: 1% 2%;
    
    
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.5);
    color: white;
}


.productos_similares{
    

    display: flex;
    
    margin-bottom: 50px;
}

.card{
    background-color: rgb(201,192,177);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: 0 2%;
}

.card a{
    background-color: rgb(74,51,35);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-color: rgb(74,51,35);
}