@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    padding: 0;
    margin: 0;

    font-family: "Itim",sans-serif;
}

/* -------------------------HEADER--------------------------------*/

header{
    display: flex;
    justify-content: center;
    
}

header h1{
    font-size: 50px;
    color: rgb(110, 70, 45);
}

header nav li{
    list-style: none;
}
header a{
    text-decoration: none;
 }

 header nav{
    display: flex;

    position: fixed;
    z-index: 99;

   
    align-items: center;
    justify-content: space-between;


    border-bottom: 2px solid #00000062;
    height: 100px;
    width: 95%;
    background-color: rgb(175,160,137);
    border-radius: 80px;
    
    margin-top: 20px;
}



header nav img{
    background-color: rgb(175,160,137);

    height: 70px;
    width: 70px;

    
    border-radius: 100px;

    margin-left: 100px;

}

header .nav_paginas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: larger;

    width: 40%;
    justify-content: space-between;
    margin-right: 5%;  
    margin-bottom: 0;  
    
}

header .nav_paginas a{
    color: white;
    text-decoration: none;
}


.abrir_menu , .cerrar_menu{
    display: none;
}

nav button{
    border: none;
    background-color: rgb(0, 0, 0, 0);
}

nav .abrir_menu img{
    width: 50px;
    height: 50px;
    filter: invert(1);
    background-color: rgb(0, 0, 0, 0);
    cursor: pointer;
}

header nav .cerrar_menu img {
    width: 30px;
    height: 30px;
    filter: invert(1);
    margin-top: 50px;
    background-color: rgb(0, 0, 0, 0);
    cursor: pointer;
}

/* -------------------------FOOTER--------------------------------*/

footer{
    height: 250px;
    background-color: rgb(175,160,137);

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    text-align: center;

    box-shadow: 0px -5px 50px rgb(128, 127, 127);
}

footer h3{
    background-color: rgb(152,127,97);
    margin-top: 20px;
    padding: 20px;
    color: white;
    font-weight: 200;
    font-size: small;

    box-shadow: 0px -5px 5px rgba(0,0,0,0.2);
}

footer h3 a{
    font-weight: 500;
   
}

footer section{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;

}

.footer_paginas{
    display: flex;
    flex-direction: column;
}

.footer_redes{
    display: flex;
    flex-direction: column;
}

.footer_redes img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(1);
}

.footer_paginas h3, .footer_redes h3{
    font-weight: 600;
    font-size: larger;
    margin: 0 0 10px 0;
    padding: 0;
    background-color: rgb(175,160,137);
    box-shadow: 0 0 0;
}


.footer_paginas a{
    margin-top: 20px;
    color: white;
    text-decoration: none;

}

.footer_redes a{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    display: flex;

}

/*===========================================================*/
/*                      INDEX                                */
/*===========================================================*/

/* --------------- MAIN ----------------*/

.body_index{
    background-color: #cdcdc0;
    text-align: center;
}

.main_index{
    display: block;
}
/* --------------- HERO ----------------*/

.hero_section .imgs{
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.hero_section img{
    object-fit: cover;
}

.hero_section {
    display: flex;
}
.hero_text {
    margin: 20% auto;
    background-color: rgb(0, 0, 0, 0.6);
    padding: 30px 50px;

    box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
}

.hero_text h2{
    font-size: 50px;
    color: #cdcdc0;
}

/* --------------- Galeria ----------------*/

.index_img_productos {
    margin: 100px 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    justify-items: center;
    align-items: center;
}

.texto_galeria {
    position: absolute;
    z-index: 2;
    padding: 50px;
    background-color: rgb(189,174,153);
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.6);
    font-size: 40px;
}

.index_img_productos img{
    width: 100%;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.6);
}

/* --------------- INFORMACION ----------------*/

.index_informacion {
    display:flex;
    
    flex-direction: column;
    margin:400px 20% 250px;
}

.index_informacion_decoration {
    background-color: rgb(74,51,35);
    width: 8.8%;
    height: 2000px;
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    margin-left: 10%;
}

.info_1{
    margin: 50px 0 200px; 
    width: 60vw;
    height: 33.75vw;
    background-image: url(../source/img/info_image.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info_1 div {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 8%;
}

.info_1 h3{
    margin-bottom: 40px;
    font-size: 40px;

}

.info_1 p{
    
    font-size: 20px;
    width: 200px;
}

.info_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_2 .info_2_texto{
    width: 40%;
    height: 100%;
    background-color: #bdae99;
    text-align: center;
    padding: 50px 30px;
    font-size: 27px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    margin-right: 50px;
}



.info_2 a {
    background-color: #bdae99;
    width: 300px;
    height: 300px;
    padding: 2%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

.info_2 a img{
    height: 100%;
    width: 100%;
}


.info_3{
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_3 .info_3_texto{
    width: 40%;
    height: 100%;
    background-color: #bdae99;
    text-align: center;
    padding: 50px 30px;
    font-size: 27px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

.info_3 iframe {
    background-color: #bdae99;
    width: 500px;
    height: 500px;
    padding: 2%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    margin-right: 50px;
}

/* --------------- DATOS ----------------*/

.index_datos{
    background-color: rgb(175,160,137);
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

.index_datos h2{
    margin:50px 0;
    font-size: 40px; 
}

.index_datos div{
    display: flex;
    justify-content: space-between;
    margin: 0 5% 50px;

}

.index_datos div article{
    background-color: rgb(152,127,97);
    width: 30%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.index_datos .dato_2{
    margin: 0 5%;
}

.index_datos img{
    height: 60px;
    margin: 50px 0 30px;
}
.index_datos h4{
    font-weight: 600;
    font-size: 30px;
    margin: 0 2% 30px ;
}

.index_datos p{
    margin: 0 10% 30px;
    font-size: 20px;
}

/* --------------- opiniones ----------------*/

.index_opiniones{
    margin: 100px 20%;
    display: flex;
    flex-direction: column;
}

.index_opiniones article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 70px;
    width: 70%;
    background-color: #F4EEDC;
    padding: 30px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    
}



.index_opiniones .opinion_2{
    align-items: flex-end;
    align-self: flex-end;
}

.index_opiniones article p{
    font-size: 25px;
}
.index_opiniones article img{
    height: 70px;
    margin-top:2%;
}
.index_opiniones article h4{
    font-size: 30px;
    margin: 3% 0 0 3%;
}

/*===========================================================*/
/*===========================================================*/
.main_productos{
    

    display: flex;
    flex-direction: column;
    text-align: center;

    align-items: center;
    margin-top: 100px;
}

.main_productos h4{
    margin: 30px 0 15px 0;
    background-color: rgb(74,51,35);
    padding: 1% 2%;
    
    
    font-size: 30px;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.5);
    color: white;
}

.productos_destacados{
    

    display: flex;
    
    margin-bottom: 50px;
}



.productos_destacados .card{
    background-color: rgb(201,192,177);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: 0 2%;
}

.productos_destacados .card a{
    background-color: rgb(74,51,35);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-color: rgb(74,51,35);
}

/*===========================================================*/
/*                      PRODUCTOS                            */
/*===========================================================*/

body{
    background-color: #cdcdc0;
    text-align: center;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productos{
    display: flex;
    flex-direction: column;
    align-items: center;


    margin: 200px 0 100px ;
    padding-bottom: 50px;

    width: 90%;
    background-color: rgb(189,174,153);
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.productos h2{
    margin: 100px 0;
    padding: 30px 30px;
    width: 105%;
    
    background-color: rgb(131, 110, 85);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.productos_1, .productos_2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.card{
    background-color: rgb(201,192,177);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.card a{
    background-color: rgb(74,51,35);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-color: rgb(74,51,35);
}

/*===========================================================*/
/*                      CONTACTO                             */
/*===========================================================*/

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    margin: 200px 0 100px ;


    display: flex;
    justify-content: flex-end;
    
    align-items: center;

    width: 90%;
    background-color: rgb(175,160,137);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

    background-image: url('../source/img/modern-macrame-4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.formulario h2{
    margin: 20px 0;
    padding: 10px 20px;
    
   
   
}

.formulario div{
    width: 60%;
    height: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: rgba(175,160,137);
}

form{
    width: 90%;
    

    display:flex;
    flex-direction: column;
    align-items: center;
}

form .div_form{
    width: 100%;
    height: 70%;
    
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0);

    font-size: x-large;

    
}

.div_form input, .div_form textarea{
    border: 3px;
    border-style: solid;
    border-color: rgb(74,51,35);
    
}

textarea{
    height: 100px;
}


.formulario button{
   
    font-size: medium;
    padding: 5px 10px;
    font-weight: 400;
    background-color: #593e25;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.5);

    border: 0;

    color: white;
    text-decoration: none;
}

/*===========================================================*/
/*                      FAQ                                  */
/*===========================================================*/

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq{
    background-color: rgb(189,174,153);
    display:flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    align-items: center;
    margin: 200px 0 100px;
    width: 80%;
}

.faq h2{
   
    background-color: rgb(131, 110, 85);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 30px 30px;
    
    font-size: xx-large;

    width: 100%;

    margin : 80px;
}

.faq h3{
    
    background-color: rgb(152,127,97);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 15px 15px;
    

    width: 80%;
}

.faq p{
    
    background-color: rgb(201,192,177);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    
    padding: 10px;
    width: 70%;
    margin :30px;
}


/*===========================================================*/
/*                      PRODUCTO                             */
/*===========================================================*/

.main_producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto{
    display: flex;
   
    justify-content: space-between;
    align-items: center;



    margin: 200px 0 100px ;
   

    width: 85%;
    
    background-color: rgb(189,174,153);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

}

.producto img{
    margin: 1%;
    width: 50%;
    border: 10px solid rgb(74,51,35);
    
}

.info_articulo{
    display: flex;
    flex-direction: column;
    
}

.producto h2{
    margin :30px;

}
.producto p{
    margin: 30px;

}




.main_productos h4{
    margin: 30px 0 15px 0;
    background-color: rgb(89, 62, 37,0.6);
    padding: 1% 2%;
    
    
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.5);
    color: white;
}


.productos_similares{
    

    display: flex;
    
    margin-bottom: 50px;
}

.productos_similares .card{
    background-color: rgb(201,192,177);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: 0 2%;
}

.productos_similares .card a{
    background-color: rgb(74,51,35);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-color: rgb(74,51,35);
}


/*===========================================================*/
/*                      media-querys                         */
/*===========================================================*/

@media screen and (max-width: 740px){
   
    header nav img{
        margin-left: 0;
    }

    header nav .header_logo{
        margin-left: 13.5%;
    }

    .abrir_menu, .cerrar_menu{
        display: block;
    }

    .abrir_menu{
        margin-right: 10%;
    }

    header .nombre_pag{
        display: none;
    }


    header .nav_paginas{
        position: fixed;
        top: -20px;
        right: -40px;
        height: 110vh;
        background-color: rgb(175,160,137);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
        gap: 4rem;
        flex-direction: column;
        align-items: end;
        justify-content: flex-start;

        opacity: 0;
        visibility: hidden;
    }

    .nav_paginas.visual{
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 500px){
    header .nav_paginas{
        width: 200px;
    }
}

@media screen and (max-width: 900px){
    main div form label{
        font-size: large;
    }
}

@media screen and (max-width: 740px){
    main div form label{
        font-size: medium;
    }
}

@media screen and (max-width: 500px){
    main .formulario{
        display: block;
    }
    
    main .formulario div{
        width: 100%;
    }
}

@media screen and (max-width: 1000px){
    main .productos .productos_1,main .productos .productos_2 {
        flex-wrap: wrap;
        gap: 50px;
    }
}

/*
body{
    color: rgb(74,51,35),rgb(152,127,97),rgb(175,160,137),rgb(189,174,153),rgb(201,192,177),rgb(209, 205, 196),#F4EEDC
}
*/