@media screen and (max-width: 740px){
   
    header {
        nav {
            img{
            margin-left: 0;
            }
            .header_logo{
                margin-left: 13.5%;
            }

            .cerrar_menu{
                display: block;
            }
        
            .abrir_menu{
                display: block;
                margin-right: 10%;
            }

        }
        .nombre_pag{
            display: none;
        }
        .nav_paginas{
            position: fixed;
            top: -20px;
            right: -40px;
            height: 110vh;
            background-color: rgb(175,160,137);
            padding: 2rem;
            box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
            gap: 4rem;
            flex-direction: column;
            align-items: end;
            justify-content: flex-start;
    
            opacity: 0;
            visibility: hidden;
        }

        .nav_paginas.visual{
            opacity: 1;
            visibility: visible;
        }
    }
}

@media screen and (max-width: 500px){
    header {
        .nav_paginas{
        width: 200px;
        }
    }
}

@media screen and (max-width: 890px){
    .hero_section {
        .hero_text {
            h2{
            font-size: 30px;
            }
        }
    }
}

@media screen and (max-width: 540px){
    .hero_section {
        .hero_text{
            h2{
            font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 700px){
    .index_img_productos {
        .texto_galeria{
        font-size: 20px;
        padding: 30px;
        }
    }

    .index_informacion{
        margin: 100px 20% 250px;
    }
}

@media screen and (max-width: 880px){
    .main_productos {
        .productos_destacados{
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        }
    }
}


@media screen and (max-width: 1100px){
    .index_opiniones {
        article {
            img{
            width: 70%;
            height: 16.6%;
            }
        }
    }
}

@media screen and (max-width: 710px){
    .info_3{
        flex-direction: column-reverse;
        flex-wrap: wrap;
        gap: 70px;
        align-items: flex-start;
    }

    
}

@media screen and (max-width: 1000px){
    .info_1 {
        h3{
        font-size: x-large;
        }
    }
}

@media screen and (max-width: 820px){
    .info_1{
        h3{
        font-size: large;
        }
        p{
        font-size: 1em;
        }
        div{
            margin-right: 3%;
        }
    }
}

@media screen and (max-width: 750px){
    .info_1 {
        div{
            margin-right: 0;
        }
    }

}

@media screen and (max-width: 710px){
    .info_1 {
        justify-content: center;
        background-color: nth($color-paleta,4);
        background-image: none;
    }

}


@media screen and (max-width: 930px){
    .info_2 {
        .info_2_texto{
        font-size: larger;
        }
    }

    .info_3 {
        .info_3_texto{
        font-size: larger;
        }
    }
}

@media screen and (max-width: 870px){
    .info_2{
        flex-direction: column;
        gap: 70px;
        align-items: flex-start;

        a{
            width: 300px;
        }
    }

    
}

@media screen and (max-width: 720px){
    .index_datos {
        
        div{
            flex-direction: column;
            align-items: center;
            gap: 30px;

        article{
            margin: 0;
            width: 70%;
        }
        }
    }
    
}

@media screen and (max-width: 580px){
    
}
@media screen and (max-width: 700px){
    .info_3 {
        iframe{
        width: 60vw;
        height: 80vw;
        }
    }
}

@media screen and (max-width: 900px){
    main {
        div {
            form {
                label{
                    font-size: large;
                }
            }
        }
    }
}

@media screen and (max-width: 740px){
    main {
        div {
            form {
                label{
                    font-size: medium;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    main {
        .formulario{
        display: block;

            div{
            width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1000px){
    main {
        .productos {

            .productos_1, .productos_2 {
            flex-wrap: wrap;
            gap: 50px;
            }
        }
    }
}

@media screen and (max-width: 590px){
    .inicio{
        width: 40%;

        .main_div_registro{
            h2{
                font-size: 1em;
            }

            a{
                
                font-size: 0.8em;
                padding: 7px;
            }
        }
    }

}
